--- R Specific Files ---
  .Rproj
.RData
.Rhistory
.Rbuildignore
.Rprofile
.Rinstparams
*.RData
*.Rhistory

R check directory (very large)
_R_check
.Rcheck/
  /vignettes/.html
/vignettes/.pdf

--- macOS Specific Files ---
  .DS_Store

--- RStudio Specific Files ---
  .Rproj.user/
  .Rlibs/

  --- Temporary/Compiled Files ---
  *.o
*.so
*.dll
*.class
*.log
*.tar.gz
